        <!-- =============================================================
            FICHA DE PERFIL DE USUARIO
        ============================================================== -->
        <div class="row mt-1">
          <!-- column -->
          <div class="col-lg-12">
            <div class="card mb-2">
              <div class="card-body">
                <p class="mb-2"><strong>Ficha Técnica</strong></p>
                    <div class="bloque2 mb-0">
                      <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-4">
                              <span class="d-inline-b wp120">Nº Patente</span>
                            </div>
                            <div class="col-md-8">
                            <input type="text" class="form-control" value="" [(ngModel)]="numPatente"id="numPatente" name="numPatente" >
                            </div>
                          </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-4">
                                  <span class="d-inline-b wp120">Tipo: </span>
                              </div>
                              <div class="col-md-8">
                                  <select class="form-control" [(ngModel)]="cboTipo" id="cboTipo" name="cboTipo">
                                  <option value="0">Seleccionar Tipo</option>
                                  <option *ngFor="let td of tipoD"
                                  value="{{td.id}}">{{td.nomTipoMovil}}
                                </option>
                                </select>
                              </div>
                          </div>
                          </div>
                      </div>

                      <div class="row linea">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                              <span class="d-inline-b wp120">Modelo y Marca:</span>
                          </div>
                          <div class="col-md-8">
                            <input type="text" class="form-control" value="" [(ngModel)]="nomMarca"id="nomMarca" name="nomMarca" >
                          </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                            <span class="d-inline-b wp120">Modelo:</span>
                          </div>
                          <div class="col-md-8">
                            <input type="text" class="form-control" value="" [(ngModel)]="nomModelo"id="nomModelo" name="nomModelo" >
                          </div>
                        </div>
                        </div>
                    </div>

                    <div class="row linea">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                            <span class="d-inline-b wp120">Nº Chasis:</span>
                          </div>
                          <div class="col-md-8">
                          <input type="text" class="form-control" value="" [(ngModel)]="numChasis"id="numChasis" name="numChasis" >
                        </div>
                      </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                          <span class="d-inline-b wp120">Nº Motor:</span>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control" value="" [(ngModel)]="numMotor"id="numMotor" name="numMotor" >
                        </div>
                      </div>
                      </div>
                  </div>

                  <div class="row linea">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4">
                          <span class="d-inline-b wp120">Año:</span>
                        </div>
                        <div class="col-md-8">
                        <input type="text" class="form-control" value="" [(ngModel)]="ano"id="ano" name="ano" >
                      </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-4">
                            <span class="d-inline-b wp120">Estado:</span>
                        </div>
                        <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="estado" id="estado" name="estado">
                        <option value="0">Seleccione Estado</option>
                        <option *ngFor="let ed of estDato"
                        value="{{ed.id}}">{{ed.nomEstado}}
                      </option>
                      </select>
                        </div>
                    </div>
                    </div>
                </div>

                    <div class="row linea">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4"></div>
                        <div class="col-md-8"></div>
                      </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                          </div>
                          <div class="col-md-8">
                            <input id="btnAgregar" type="button"  value="Agregar" class="boton" style="float:right">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive m-t-10">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Patente</th>
                                                <th>Tipo</th>
                                                <th>Modelo y Marca:</th>
                                                <th>Nº Chasis</th>
                                                <th>Nº de Motor</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>BR-003</td>
                                                <td><strong>Auto</strong></td>
                                                <td><strong>Chevrolet Onix</strong></td>
                                                <td>12321456789</td>
                                                <td>12321456789</td>
                                                <td>
                                                <button type="button" class="btn waves-effect waves-light btn-warning">Editar</button>&nbsp;
                                                 <button type="button" class="btn waves-effect waves-light btn-danger">Eliminar</button>
                                                 </td>
                                            </tr>
                                            <tr>
                                                <td>BR-004</td>
                                                <td>Camion</td>
                                                <td>Mercedes</td>
                                                <td>12321456789</td>
                                                <td>12321456789</td>
                                                <td>
                                                <button type="button" class="btn waves-effect waves-light btn-warning">Editar</button>&nbsp;
                                                 <button type="button" class="btn waves-effect waves-light btn-danger">Eliminar</button>
                                                 </td>
                                            </tr>
                                            <tr>
                                                <td>BR-005</td>
                                                <td>Auto</td>
                                                <td>Fiat 500<</td>
                                                <td>12321456789</td>
                                                <td>12321456789</td>
                                                <td>
                                                <button type="button" class="btn waves-effect waves-light btn-warning">Editar</button>&nbsp;
                                                 <button type="button" class="btn waves-effect waves-light btn-danger">Eliminar</button>
                                                 </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
