<div class="card-body">
  <h4 class="card-title" id="titulo">Informes</h4>
  <!-- ============================================================== -->
  <!-- Stats box -->
  <!-- ============================================================== -->
 <div id="graficos"></div>
</div>
<div class="row">
    <div class="col-6">
      <app-dona [labels]="labels1"
      [data]="data1"
      title="Compras">
      </app-dona>

    </div>

    <div class="col-6">
      <app-dona [labels]="labels2"
      [data]="data2"
      title="Móvil en taller">
      </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
      <app-dona [labels]="labels3"
      [data]="data3"
      title="Cambios">
      </app-dona>
    </div>

    <div class="col-6">
      <app-dona [labels]="labels4"
      [data]="data4"
      title="Estado de reparación">
      </app-dona>
    </div>
</div>
