<!-- =============================================================
            FICHA sSOLUCIÓN
============================================================== -->
<div class="row mt-1">
  <!-- column -->
  <div class="col-lg-12">
      <div class="card mb-2">
          <div class="card-body">
              <p class="mb-2"><strong>Ingreso de solucion</strong></p>
              <div class="bloque2 mb-0">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-4">
                              <span class="d-inline-b wp120">Predefinido</span>
                          </div>
                          <div class="col-md-8">
                              <select class="form-control" id="cboPredefinido" name="cboPredefinido" (change)="llamarReportePorId()"  [(ngModel)]="cboPredefinido">
                          <option value="0">Seleccione Detalle a Reparar</option>
                          <option *ngFor="let pre of predefinido;" value="{{pre.id}}" >{{pre.descripcion}}<option>
                        </select>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="d-inline-b wp120">Nº de Unidad</span>
                        </div>
                        <div class="col-md-8">
                            <input type="hidden" id="txtIdReporte" class="form-control" value="">
                            <input type="text" class="form-control" value="" id="txtNumUnidad" name="txtNumUnidad"[(ngModel)]="txtNumUnidad" disabled>
                        </div>
                    </div>
                </div>
                  </div>


                  <div class="row linea">
                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-4">
                                  <span class="d-inline-b wp120">Fecha Desde</span>
                              </div>
                              <div class="col-md-8">
                                  <input type="date" class="form-control" id="fechaReporte" [(ngModel)]="fechaDesde" name="fechaReporte" value="">
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="d-inline-b wp120">Fecha Hasta</span>
                            </div>
                            <div class="col-md-8">
                                <input type="date" class="form-control" id="fechaHata" [(ngModel)]="fechaHata" name="fechaHata" value="">
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row linea">
                    <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-4">
                              <span class="d-inline-b wp120">Descripción</span>
                          </div>
                          <div class="col-md-8">
                              <textarea class="form-control" id="txtDescripción" rows="5"></textarea>
                          </div>
                      </div>
                  </div>

                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-4">
                              </div>
                              <div class="col-md-8">
                                  <input id="btnAgregar" type="button" onclick="addUserOrUpdate();" value="Guardar" class="boton" style="float:right">
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="table-responsive m-t-10">
                  <table id="tblInfoSolucion" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                              <th>Usuario</th>
                              <th>Desde</th>
                              <th>Hasta</th>
                              <th>Descripción</th>
                              <th>Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let detalle of detallesSolucion">
                              <td>{{detalle.Clientes}}</td>
                              <td>{{detalle.desde}}</td>
                              <td>{{detalle.hasta}}</td>
                              <td>{{detalle.descripcion}}</td>
                              <td>
                                  <button type="button" class="btn waves-effect waves-light btn-warning">Editar</button>&nbsp;
                                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalReporte" (click)="llamarAlbumReporte(detalle.id)">Ver Fotos</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalReporte" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Albúm</h4>
          </div>
          <div class="modal-body">

              <div class="row el-element-overlay">
                  <div class="col-md-12">
                      <h4 class="card-title">Fotos del reporte</h4>
                      <h6 class="card-subtitle m-b-20 text-muted">you can make gallery like this</h6>
                  </div>
                  <div *ngFor="let url of urls; index as i" class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> <img src="{{url.rutaFoto}}" alt="user" />
                                  <div class="el-overlay">
                                      <ul class="el-info">
                                          <li><a class="btn default btn-outline image-popup-vertical-fit" href="javascript:void(0);" style="background-image: url('{{url.rutaFoto}}')"><i class="icon-magnifier"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6">
                      <div class="card">
                          <div class="el-card-item">
                              <div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img1.jpg" alt="user" />
                                  <div class="el-overlay">
                                      <ul class="el-info">
                                          <li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                          <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="el-card-content">
                                  <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                  <br/> </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
