        <!-- =============================================================
            FICHA DE PERFIL DE USUARIO
        ============================================================== -->
        <div class="row mt-1">
          <!-- column -->
          <div class="col-lg-12">
            <div class="card mb-2">
              <div class="card-body">
                <p class="mb-2"><strong>Ficha Técnica</strong></p>
                    <div class="bloque2 mb-0">
                      <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-4">
                              <span class="d-inline-b wp120">Nº Patente</span>
                            </div>
                            <div class="col-md-8">
                            <input type="text" class="form-control" value="" id="txtPatente"  name="txtPatente">
                            </div>
                          </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-4">
                              <span class="d-inline-b wp120">Desc. Corta</span>
                            </div>
                            <div class="col-md-8">
                            <input type="text" class="form-control" value="" id="txtPatente"
                            name="txtFolioDesde">
                            </div>
                          </div>
                          </div>
                      </div>

                      <div class="row linea">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                              <span class="d-inline-b wp120">Fecha Desde</span>
                          </div>
                          <div class="col-md-8">
                          <input type="date" class="form-control" id="txtPatente" name="txtFolioDesde" value="">
                          </div>
                        </div>
                        </div>

                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-4">
                            <span class="d-inline-b wp120">Contról</span>
                          </div>
                          <div class="col-md-8">
                          <select class="form-control" id="cboInsumos"  name="cboInsumos" >
                                <option value="">Mantención por Kilometraje</option>
                                <option value="">Mantenimiento Electricidad</option>
                                <option value="">Cambio de Aceite y Filtro</option>
                                <option value="">Reparaciones Correctivas</option>
                                <option value="">Desabolladura y Pintura</option>
                                <option value="">Compra de Repuestos y Lubricantes</option>
                                <option value="">Revisión pre o pos Compra</option>
                          </select>
                          </div>
                        </div>
                        </div>
                    </div>

                    <div class="row linea">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                          <span class="d-inline-b wp120">Fecha Hasta</span>
                        </div>
                        <div class="col-md-8">
                        <input type="date" class="form-control" id="txtPatente" name="txtFolioDesde" value="">
                        </div>
                      </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-4">
                            <span class="d-inline-b wp120">Lugar de Control</span>
                          </div>
                          <div class="col-md-8">
                          <input type="text" class="form-control" id="txtPatente" name="txtFolioDesde" value="">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row linea">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-4">
                          <span class="d-inline-b wp120">Detalles</span>
                        </div>
                        <div class="col-md-8">
                        <textarea class="form-control" rows="5"></textarea>
                        </div>
                      </div>
                      </div>

                      <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-4">
                            <span class="d-inline-b wp120">Total Gasto $</span>
                          </div>
                          <div class="col-md-8">
                          <input type="text" class="form-control" value="" id="txtGasto"  name="txtGasto">
                          </div>
                          <div class="col-md-12">
                          <br/>
                            <input id="btnAgregar" type="button"  value="Agregar" class="boton float-right" >
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive m-t-10">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Patente</th>
                                                <th>Fecha Desde</th>
                                                <th>Fecha Hasta</th>
                                                <th>Descripción Corta</th>
                                                <th>Causa</th>
                                                <th>Lugar de Control</th>
                                                <th>Total Gasto</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>BR-003</td>
                                                <td>06-03-2020</td>
                                                <td>06-03-2022</td>
                                                <td>Calibración Luces</td>
                                                <td>Mantenimiento Electricidad</td>
                                                <td>Taller 1</td>
                                                <td>$120.000</td>
                                                <td>
                                                <button type="button" class="btn waves-effect waves-light btn-warning">Editar</button>&nbsp;
                                                 <button type="button" class="btn waves-effect waves-light btn-danger">Eliminar</button>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
